*{
    margin: 0%;
    padding: 0%;
}

header {
    background-color: blue;
    color: aliceblue;
    font-family: 'lato' , sans-serif;

    
}

header nav{
    display: flex;
}
header nav ul{
    height: 53px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;

}

header nav ul li{
    list-style: none;
    padding: 0 23px;
}
header nav ul li:hover{
    
   color: black;
   font-style: bold;
    
   
}
.search{
    
    padding: 45px;
}

.container{
    min-height: calc(100vh - 53px - 100px);
}
.img{
    display: flex;
    justify-content: center;
    height: 543px;
    margin: 8px 0;
}

.cont2{
    background-color: antiquewhite;
    height: 259px;
  margin: 3px 30px;
}

.img2 img{
    height: 175px;
    margin: 8px 55px;
    border: solid blue;
    border-radius: 20px;
}
.cont2 h3{
    padding: 0px 75px;
}
.cont2 p1{
    margin: 0 92px;
}



footer{
background-color: blue;
color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}


